<!DOCTYPE html>
<htlm>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather1.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait-2" src="/img/me.jpg">
        <br>
        <br>
        <p>
            I am a student of IIT(BHU), Varanasi.
        </p>
    </div>
    <br>
    
    {{>footer}}
</body>



</html>