<!DOCTYPE html>
<htlm>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>
            Technologies used : NodeJS, ExpressJS, HTML and CSS
        </p>
        <br>
        <p>
            In case of any problem or suggestion:
            Contact  at arvindkaviya007@gamil.com
        </p>
    </div>
    {{>footer}}
</body>



</html>